<body>
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <form [formGroup]="MatriculaFormulario" class="custom-form">
                    <fieldset>
                        <legend class="form-title">Filtros</legend>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="idAlumno" class="form-label custom-label">Alumno:</label>
                                <select class="form-select custom-select" id="idAlumno" formControlName="idAlumno">
                                    <option value="">Selecciona...</option>
                                    <option *ngFor="let alumno of alumnoModel" [value]="alumno.id">{{ alumno.nombres }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="idLogin" class="form-label custom-label">Login:</label>
                                <select class="form-select custom-select" id="idLogin" formControlName="idLogin">
                                    <option value="">Selecciona...</option>
                                    <option *ngFor="let login of loginModel" [value]="login.id">{{ login.email }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="estado" class="form-label custom-label">Estado:</label>
                                <input type="text" class="form-control custom-input" id="estado"
                                    formControlName="estado" />
                            </div>
                            <div class="col-md-6">
                                <label for="fecha" class="form-label custom-label">Fecha:</label>
                                <input type="date" class="form-control custom-input" id="fecha"
                                    formControlName="fecha" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-center">
                                <button type="reset" class="btn btn-limpiar mx-2" (click)="limpiarFiltros()">
                                    <i class="bi bi-brush"></i> Limpiar
                                </button>
                                <button type="button" class="btn btn-buscar mx-2" (click)="buscarMatriculas()">
                                    <i class="bi bi-search"></i> Buscar
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Matrículas</h2>
            </div>
            <div class="card-body">
                <button class="btn btn-success mb-3" (click)="navigateToRegistrarMatricula()">
                    <i class="bi bi-plus-lg"></i> Agregar Matrícula
                </button>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Alumno</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Actualizar</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="matriculaModel.length > 0; else noData">
                            <tr *ngFor="let matricula of matriculaModel">
                                <td>{{ matricula.id }}</td>
                                <td>{{ matricula.fecha | date : "dd/MM/yyyy" }}</td>
                                <td>{{ matricula.estado }}</td>
                                <td>{{ matricula.alumno?.nombres }}</td>
                                <td>{{ matricula.login?.email }}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-warning btn-sm"
                                        (click)="navigateToActualizarMatricula(matricula.id)">
                                        <i class="bi bi-pencil-fill"></i>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-danger btn-sm"
                                        (click)="deleteMatricula(matricula.id)">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #noData>
                            <tr>
                                <td colspan="7" class="text-center">No se encontraron matrículas que coincidan con los
                                    filtros aplicados.</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="paginator-container">
            <mat-paginator [length]="totalItems" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements" (page)="buscarMatriculas($event)"></mat-paginator>
        </div>
    </div>

    <app-confirmation #confirmModal></app-confirmation>
</body>