<body>
    <div class="container">
        <!-- Botón de regresar -->
        <div class="d-flex justify-content-between mb-3">
            <button class="btn btn-back" (click)="navigateToCategoria()">
                <i class="bi bi-arrow-left"></i>
            </button>
        </div>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Registrar Categoria</h2>
                <form [formGroup]="categoriaFormulario" (ngSubmit)="registrarCategoria()" class="custom-form">
                    <div class="mb-3">
                        <label for="nombre" class="form-label custom-label"
                            [class.error]="categoriaFormulario.get('nombre')?.invalid && categoriaFormulario.get('nombre')?.touched">Nombre:</label>
                        <input type="text" class="form-control custom-input" id="nombre" formControlName="nombre" />
                        <div *ngIf="categoriaFormulario.get('nombre')?.invalid && categoriaFormulario.get('nombre')?.touched"
                            class="error-message">Nombre requerido</div>
                    </div>
                    <div class="d-grid">
                        <button type="reset" class="btn btn-limpiar">
                            <i class="bi bi-x-circle-fill"></i> Limpiar
                        </button>
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-person-plus-fill"></i> Registrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-confirmation #confirmModal></app-confirmation>
</body>